$max-width: 1440px;
$border-radius: 30px;
$finger-size: 50px;
$gutter: 20px;

//
$color-primary: hsl(75, 94%, 57%);

$color-white: hsl(0, 0%, 100%);

$color-grey: hsl(0, 0%, 20%);
$color-dark-grey: hsl(0, 0%, 12%);
$color-off-black: hsl(0, 0%, 8%);

//
$font-family: "Inter", sans-serif;
$font-size: 14px;
